@media (min-width: 100px) and (max-width: 815px) {
    .galery{
        width: min(100%, 815px);
    }

    .galery__content{
        width: min(100%, 780px);
        flex-direction: column;
    }
    
    .columns__galery{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    .photo{
        width: min(100%, 250px);
    }
    
    .photoGalery{
        width: min(100%, 250px);
        cursor: pointer;
        transition: 4s;
    }
    
    .photoGalery:hover{
        transform: scale(2);
        transition: 4s;
    }
    
    .descriptionPhotos{
        background-color: white;
        text-align: justify;
        margin: 5px, 0, 5px, 0;
    }
}

/* @media screen and (max-width: 590px) {
    .galery{
        width: min(100%, 590px);
    }

    .galery__content{
        width: min(100%, 570px);
        flex-direction: column;
    }
    
    .columns__galery{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    .photo{
        width: min(100%, 180px);
    }
    
    .photoGalery{
        width: min(100%, 180spx);
        cursor: pointer;
        transition: 4s;
    }
    
    .photoGalery:hover{
        transform: scale(2);
        transition: 4s;
    }
    
    .descriptionPhotos{
        background-color: white;
        text-align: justify;
        margin: 5px, 0, 5px, 0;
    }
} */