@media (min-width: 100px) and (max-width: 815px) {
    .juan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .purisima{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aniversario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carnaval{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .amazonas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .caballoCocha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .actCaballo{
        display: flex;
        flex-direction: column;
    }

}