@media screen and (max-width: 815px) {
    .contentTestimonios{
        width: min(100%, 815px);
    }

    .contentTestimonios__body{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testimonio{
        width: min(100%, 700px);
    }
}